//MAP para BANDERA DE ARGENTINA

$body-back: #e6e6e6;
$h1-color1: black;
$h1-color2: lightsteelblue;
$hovers: sandybrown;
$link-stdby: black;
$footer-container: lightsteelblue;

$banderola:(
    background: #797878,
    ar: #75AADB,
    gen: #FFFFFF,
    ti: #FFFFFF,
    na: #75AADB,
);

