/* Suavizando bordes de tarjetas con texto */
.card {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


@each $name-color, $bgcolor in $banderola {
    .flag-#{$name-color}{
        background-color: $bgcolor;
    }
}